---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { SITE, HOME, SOCIALS } from "@consts";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { getCollection } from "astro:content";

const blog = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <aside data-pagefind-ignore>
      <h1 class="font-semibold text-black dark:text-white">
        Sơ lược về bản thân tôi 👋
      </h1>
      <div class="space-y-16">
        <section>
          <article class="space-y-4">
            <span>
              <p>
                Xin chào, tôi là <b>Fwy13</b> đó là biệt danh của tôi. Tên tôi là
                <b>Huỳnh Quý</b>, hiện đang là sinh viên. Tôi yêu thích các ngôn
                ngữ lập trình, cực kì tò mò về cách mọi thứ hoạt động, tôi có
                kinh nghiệm trong việc sử dụng các framework về web như: React,
                Vue, Svelte. Ngoài ra tôi cũng thường dùng Tauri để viết các ứng
                dụng cho Desktop hoặc Mobile.
              </p>
              <p>
                Thời gian rảnh thì tôi thường hay nghịch các bo mạch, build
                firmware mới cho chúng, hoặc có thể khiến chúng "brick".
              </p>
            </span>
          </article>
        </section>

        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              Bài đăng mới nhất
            </h2>
            <Link href="/blog"> Xem tất cả </Link>
          </div>
          <ul class="not-prose flex flex-col gap-4">
            {
              blog.map((post) => (
                <li>
                  <ArrowCard entry={post} />
                </li>
              ))
            }
          </ul>
        </section>
        <section class="animate space-y-4">
          <h2 class="font-semibold text-black dark:text-white">
            Liên hệ
          </h2>
          <article>
            <p>
              Nếu bạn có bất kỳ điều gì đó hay ho, đừng ngần ngại gửi cho tôi nhé!
            </p>
          </article>
          <ul class="not-prose flex flex-wrap gap-2">
            {
              SOCIALS.map((SOCIAL) => (
                <li class="flex gap-x-2 text-nowrap">
                  <Link
                    href={SOCIAL.HREF}
                    external
                    aria-label={`${SITE.TITLE} on ${SOCIAL.NAME}`}
                  >
                    {SOCIAL.NAME}
                  </Link>
                  {"/"}
                </li>
              ))
            }
            <li class="line-clamp-1">
              <Link
                href={`mailto:${SITE.EMAIL}`}
                aria-label={`Email ${SITE.TITLE}`}
              >
                {SITE.EMAIL}
              </Link>
            </li>
          </ul>
        </section>
      </div>
    </aside>
  </Container>
</Layout>
